:root {
    --main-black: #010101;
    --main-red: #7f0000;
    --secondary-red: #bd0003;
    --ternary-red: #ff0000;
    --main-orange: #ff6c3e;
    --secondary-orange: #ffa372;
  }
  
  @font-face {
    font-family: Valera;
    src: url(../Fonts/VarelaRound-Regular.ttf);
  }
  
  @font-face {
    font-family: Poppins;
    src: url(../Fonts/Poppins-Regular.ttf);
  }
  
  *,
  ::after,
  ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #ddd;
  }
  
  h1 {
    font-family: Serif, sans-serif !important;
    font-size: 3.6rem !important;
    color: var(--main-black);
  }
  
  h2 {
    font-family: Poppins !important;
    font-size: 3.4rem;
    color: var(--main-black);
  }
  
  h3 {
    font-family: Poppins !important;
    font-size: 3rem;
    color: var(--main-black);
  }
  
  h4{
    font-family: Poppins !important;
    font-size: 2.4rem;
    color: var(--main-black);
  }
  
  h5,
  h6{
    font-family: Poppins !important;
    font-size: 2rem;
    color: var(--main-black);
  }
  
  p {
    font-family: Valera !important;
    font-size: 1.8rem;
    color: var(--main-black);
  }
  
  i{
    font-size: 2rem;
    margin-right: 5px;
    color: var(--main-black);
  }
  
  
  .link{ /*  ESTILOS DE ETIQUETA LINK*/
    color: var(--main-black);
    text-decoration: none;
  }
  
  .link:hover{
    text-decoration: underline;
  }
  
  
  /*scrollbar*/
  ::-webkit-scrollbar{
    width: 5px;
    }
    
    ::-webkit-scrollbar-track{
    border: 5px solid #fff;
    }
    
    ::-webkit-scrollbar-thumb{
    background: var(--secondary-red);
  }
  
  
  /* ESTILOS HEADER*/
  header {
    background-color: var(--secondary-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 8rem;
  }
  
  #logo {
    width: 25rem;
    height: auto;
  }
  
  #labelInput {
    display: block;
    background-color: #fff;
    width: 25rem;
    height: 3.5rem;
    border-radius: 8px;
    display: flex;
    gap: 1rem;
    padding: 2px;
  }
  
  #labelInput button {
    border: none;
    background-color: transparent;
    margin: 0 0 0 5px;
    cursor: pointer;
  }
  
  #searchInput {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
  }
  
  #user {
    margin: 0 2rem 0 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  #user img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 50%;
  }
  
  #log-links{
    font-size: 1.8rem;
    font-weight: 600;
    width: 25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #close{ /*ESTILO PARA ICONO NOTIS*/
    cursor:pointer;
  }
  
  .notis{
    position: absolute;
    width: 30rem;
    height: 0px;
    right: 6%;
    top: 50%;
    overflow: hidden;
    border-radius: 8px 10px;
    background-color: aliceblue;
    transition: height .5s ease;
  }
  
  .notis.open{ 
    height: 40rem;
  }
  
  #notis-info{
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #notis-info h4{
    width: 100%;
    border-bottom: 2px solid var(--main-black);
    margin-bottom: 2rem;
  }
  
  #notis-nav{
    list-style: none;
  }
  
  #notis-nav li{
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  
  
  
  
  /* ESTILOS ASIDE */
  aside {
    position: sticky;
    top: 8rem;
    left: 0;
    background-color: #fff;
    height: 91vh;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  #home{
    margin: 2rem 0 0 0;
    width: 100%;
    height: auto;
  }
  
  #books-nav {
    list-style: none;
    width: 100%;
    height: auto;
  }
  
  #books-nav li {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 1.3rem 0;
    cursor: pointer;
  }
  
  #books-nav li > span{
    position: absolute;
    left: 90%;
    font-style: bold;
    font-weight: 600;
    transition: transform .3s ease-in-out;
  }
  
  #books-nav li:hover > span{
    transform: rotate(90deg);
  }
  
  #settings{
    border-top: 2px solid #ddd;
    padding: 0.5rem 0 0 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFA372;
}

#logo{
    display: inline-block;
    position: absolute;
    left: 50px;
    z-index: 2000;
}

#search input{
    position: absolute;
    top: 30px;
    left: 400px;
    padding: 3px 0 0 36px;
    display: inline-block;
    width: 310px;
    height: 35px;
    border-radius: 30px;
    background-color: #e0dcdc;
    border: none;
}

#search img{
    position: absolute  ;
    width: 20px;
    top: 38px;
    left: 410px;
    z-index: 10;


}

#person img{
    display: inline-block;
    position: absolute;
    width: 65px;
    top: 15px;
    left: 1320px;
}
#paleta-izq{
    position: relative;
    top: 100px;
    height: 602px;
    background-color: #ffff;
    display: inline-block;


}

#paleta-izq img{
    width: 20px;
}

#paleta-izq .indicadores img[uso] {
    position: relative;
    width: 13px;
    left: 105px;
}

#paleta-izq .indicadores img[usa] {
    position: relative;
    width: 13px;
    left: 55px;
}


.indicadores{
    margin: 10px;
    width: 240px;
    padding: 5px;
    text-align: justify;
    

}

.indicadores[diferente]{
    border-radius: 25px;
    background-color: #e0dcdc;
}

.indicadores[primo]{
    position: relative;
    top: 330px;
    border-top:  1px solid gray ;
    color: gray;
    font-size: 10px;
}

.indicadores[primo] p{
    font-size: 18px;
}


#paleta-der{
    position: absolute;
    display: inline-block;
    background-color: #e0dcdc;
    width: 1175px;
    height: 602px;
    top: 100px;
}



#part1{
    position: relative;
    margin: auto;
    height: 75px;
    width: 1130px;
    border-bottom: 1px solid gray;
}
#part1 p{
    padding-top: 50px;
}

#part2{
    position: relative;
    margin: auto;
    height: 200px;
    width: 1130px;
    border-bottom: 1px solid gray;
}

#form-ctn{


    width: 590px;
    height: 200px;
    margin: auto;
    margin-top: 0px;
    z-index: -1;

}

#text-ctn{
    position: relative;
    /* left: 300px; */
    display: inline-block;
    font-weight: bold;
    padding: 10px 50px 50px 50px;
    width: 300px;
    opacity: 1;
    font-size: 15px;

}



#text-ctn input{
    width: 180px;
    border-radius: 13px;
    border: 1px;
    padding-left: 7px;
    margin-bottom: 20px;
}



#img-ctn{
    position: absolute;
    display: inline-block;
    padding: 10px 50px 50px 50px;
    margin-left: 30px;
    padding-bottom: 100px;
    text-align: center;
}

#img-ctn h4{
    font-weight: bold;
    font-size: 20px;
}


#img-ctn button[Upload]{
    position: relative;
    width: 160px;
    height: 30px;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

#img-ctn button[Upload] img{
    position: relative;
    top: 3px;
}

div form button img{
    padding-top: 2px;
    padding-left: 3px;
    width: 20px;
}

div form button{
    
    background-color: #800404;
    color: #ffff;
    border: none;
    border-radius: 15px;
    width: 300px;
}

#boton{
    position: relative;
    margin: auto;
    background-color: #800404;
    color: #ffff;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 30px;
}




#boton1{
    position: relative;
    margin: auto;
    background-color: #FF6C3E;
    color: #ffff;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    width: 35px;
    height: 30px;
    font-size: 15px;


}

#paleta-izq .indicadores p[hola]{
    position: relative;
    bottom: 3.5px;
    display: inline-block;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;

}

#part2 p{
    position: absolute;
    display: inline-block;
    left: 2px;
    top: 175px;
}

#part3{
    position: absolute;
    display: inline-block;
    top: 230px;
    left: 200px;
    height: 227px;
    width: 350px;
    z-index: 1000;
}



#contenido3{
    position: absolute;
    left: 70px;
    width: 250px;
    height: 250px;
}

#boton2{
    position: relative;
    margin: auto;
    background-color: #800404;
    color: #ffff;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 30px;
    font-size: 15px;

}
